<mat-tab-group animationDuration="0ms" [mat-stretch-tabs]="false">
  <mat-tab label="BPMN">
    <ng-template matTabContent>
<!--      <app-toolbar [modeler]="bpmn" />-->
      <ng-bpmn #bpmn
        [url]="'/assets/diagram.bpmn'"
        [showMinimap]="true"
        [showComments]="true"
        [showLabelLink]="true"
        [hotkeys]="true"
        [paletteControls]="true"
        (importDone)="handleImported($event)"
        (changed)="onChanged()" />
    </ng-template>
  </mat-tab>

  <mat-tab label="DMN">
    <ng-template matTabContent>
      <app-toolbar [modeler]="dmn" />
      <ng-dmn #dmn
        [url]="'/assets/diagram.dmn'"
        [showProperties]="false"
        [hotkeys]="true" />
    </ng-template>
  </mat-tab>

  <mat-tab label="CMMN">
    <ng-template matTabContent>
      <app-toolbar [modeler]="cmmn" />
      <ng-cmmn #cmmn
        [url]="'/assets/diagram.cmmn'"
        [showProperties]="false"
        [hotkeys]="true" />
    </ng-template>
  </mat-tab>
</mat-tab-group>



@if (importError) {
  <div class="import-error">
    <strong>Failed to render diagram: </strong>
    {{ importError.message }}
  </div>
}

<router-outlet></router-outlet>
